* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.desktop {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
  position: relative;
}

.desktop::before {
  content: " ";
  display: block;
  background-color: #eee;
  width: 100%;height: 100%;
  position: absolute;
  border: 1px dashed #aaa;
  border-radius: 5px;
}

.desktop::after {
  content: attr(alt);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:10px;
  text-align: center;
  font-weight: bold;
  color: #999;
}
