#plane {
  color: #333;
  font-size: 80px;
  position: relative;
  left:-100px;
  top:300px;
  margin-top: -30px;
  margin-left: -30px;
}

.point {
  /*display:none;*/
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
  margin-left: -5px;
  margin-top: -5px;
  position: absolute;
}

.point1 { left: 100px; top: 100px; }
.point2 { left: 250px; top: 300px; }
.point3 { left: 400px; top: 100px; }
.point4 { left: 550px; top: 300px; }
.point5 { left: 700px; top: 100px; }
.point6 { left: 850px; top: 300px; }
