.fixed_bg {
  position: fixed;
  width: 100%;
  height: 100%;
}

.slide {
  color: #fff;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}

.slide-content {
  width:50%;
  max-width: 700px;
  margin: 60px auto;
  position: relative;
}

#slide04 {
  background-image: url("../img/stars.gif");
  background-size: cover;
}

.shuttle {
  margin-left:60px;
}


.slide-nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -105px;
    z-index: 9999;
    width: 210px;
}

.slide-nav a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    float: left;
    margin-right: 10px;
    border: 1px solid #fff;
}

.slide-nav a:last-child {
    margin-right: 0;
}
