body { margin: 10px; }

.navbar-nav { padding: 10px; }
.navbar-nav>li { margin-right: 10px; }

.navbar-nav>li>a.nav-link {
  padding: 0;
  font-size: 40px;
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  text-decoration: none;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  border: 4px solid #777;
  position: absolute;
  left: 0;
  top: 0;
}
