body { font-family: sans-serif; font-size: 18px; }

.megaphone {
  float: left;
  margin: 10px;
  shape-outside: circle(50%);
}

.desktop {
  float: left;
  shape-outside: inset(40px 30px 40px 0);
  position: relative;
  left: -20px;
}

.logo {
  float: left;
  shape-outside: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/Acme_Insignia.png');
}
